<div class="detal-all">
    <div class="detal">
        <div class="detal-coment-post">
            <%= form_with model: @event, url: coment_path do |f| %>
             <p><%= f.label :coment %>
                <%= f.text_field :coment %></p>
            
            <p><%= f.hidden_field :posted_id, :value => @posted_id %></p>
             <p><%= f.submit "投稿" %></p>
            <% end %>

        
        </div>
 
   
    <div class="detal-coment-result">
      <% @coments.each do |coment| %>
        <div class="coment">
        <ul>
           
           <% if coment.img.url != nil %>
            <li class="d-c-img"><%= image_tag coment.img.url %></li> 
          <% else %>
            <li class="d-c-img"> <%= image_tag("will.png") %></li> 
           <% end %>
           <li class="d-c-name"><%= coment.name %>：</li>
           <li class="d-c-time"><%= coment.created_at.strftime('%m/%d %H:%M') %></li>
           
        </ul>
        </div>
           <p class="d-c-come"><%= coment.coment %></p>
      <% end %>
    </div>
    </div>
    <div class="detal">
      <div class="detal-posted">
        <% if @posteds.img.url != nil %>
            <%= image_tag @posteds.img.url %>
        <% else %>
            <%= image_tag("will.png") %>
        <% end %>
        <p class="detal-title"><%=  @posteds.title %></p>
        <p class="detal-date">開催日  <%=  @posteds.date %></p>
        <p class="detal-content"><%=  @posteds.content %></p>
      </div>
    </div>






</div>
