<%if @user %>

<div class="event">
<div class="event-one event-co">
<h1>content</h1>
<h1>content</h1>
<h1>content</h1>
<h1>content</h1>
<h1>content</h1>
<h1>content</h1>
<h1>content</h1>
<h1>content</h1>
<h1>content</h1>
<h1>content</h1>
<h1>content</h1>
<h1>cot</h1>

</div>


<div class="event-co">
 <% @posts.each do |post| %>
 <div class="posted">
  <ul>
     <% if post.img? %>
       <li class="posted-img"><%= image_tag post.img.url %></li>
     <% else %>
       <li class="posted-img"><%= image_tag("city.png") %></li>
    <% end %>
     <li class="posted-title"><%= post.title %></li>
     <li class="posted-date">開催日:<%= post.date %></li>
     <li class="posted-content"><%= post.content %></li>
     <li class="post-detal"><%=link_to "詳細", "/detal/#{post.id}" %></li>
  </ul>
  </div>
 <% end %>

</div>
</div>

<%else%>
<p>ログインしてください</p>
<% end %>
