<div class="footer">
    <%= link_to image_tag("will.png", alt: "Rails logo") %>
    <ul>
        <li><%= link_to "ホーム", "/home" %></li>
        <li><%= link_to "イベント一覧", "/event" %></li>
        <li><%= link_to "このサイトについて", "/about" %></li>
        <li><%= link_to "利用規約", "#" %></li>

    </ul>
</div>