<div class="header">
    <div class="header-top">
        <%= link_to image_tag("will.png", alt: "Rails logo") %>
        <p>English In OKINAWA By Will</p>
    </div>
    <div class="header-link">
        <ul>
            <%# <li>ホーム</li>
            <li>イベント一覧</li>
            <li>このサイトについて</li>
            <li>ログイン</li>
            <li>新規登録</li> %>
            <li><%= link_to "ホーム", "home" %></li>
            <li><%= link_to "イベント一覧", "event" %></li>
            <li><%= link_to "このサイトについて", "about" %></li>
            <li><%= link_to "ログイン", "＃" %></li>
            <li><%= link_to "新規登録", "＃" %></li>
        </ul>
    </div>
</div>