<div class="header">
    <div class="header-top">
        <%= link_to image_tag("will.png", alt: "Rails logo") %>
        <p>English In OKINAWA By Will</p>
    </div>
    <div class="header-link">
        <ul>
            <li><%= link_to "ホーム", "/home" %></li>
            <li><%= link_to "イベント一覧", "/event" %></li>
            <li><%= link_to "このサイトについて", "/about" %></li>
            <% if logged_in? %>
            <li><%= link_to "mypage", "/mypage" %></li>
            <li><%= link_to "ログアウト", "/logout" %></li>
            <% if admin? %>
                <li><%= link_to "イベント投稿", "/post" %></li>
            <% else %>
             <% end %>
            <% else %>
                <li><%= link_to "ログイン", "/login" %></li>
                <li><%= link_to "新規登録", "/singup" %></li>
            <% end %>
        </ul>
    </div>
</div>